html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

a {
  text-decoration: none;
}

a:hover {
  transition: 0.1s;
  text-decoration-line: underline;
}

#userSlider {
  width: 70%;
  height: 20px;
  font-weight: bold;
  color: red;
}

.pricing-plans {
  left: 50%;
  display: flex;
  flex-direction: row;
  margin-left: 30%;
  color: gray;
}

.valueSlider {
  background-color: #664aff;
  font-weight: bold;
}

.cardMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.loading {
  width: 14rem;
  height: 14rem;
  opacity: 0;
}

.loading.show {
  opacity: 1;
}

/* d-flex flex-md-row mx-auto */
